*,*::before ,*::after{
box-sizing: border-box;
}
*{
margin:0 ; 
padding:0;
}
body {
height :100vh; 
width :100vw;
  font-family: Arial, sans-serif;
}



.box{
    height:400px;
    width: 400px;
    border: 10px groove blue ;
    border-top-right-radius: 90px;
    overflow: hidden;
    border-bottom-left-radius:50px ;
}