*,*::before ,*::after{
box-sizing: border-box;
}
*{
margin:0 ; 
padding:0;
font-size: 40px;
}
body {
height :100vh; 
width :100vw;
  font-family: Arial, sans-serif;
}

main{
    display: grid;
    height: 100%;
    width: 100%;
    padding: 40px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: "header header header"
                        "section section aside"
                        "menu . aside"
                        "footer footer footer";
}

header{
    background-color: aqua;
    grid-area: header;
}

section{
    background-color: aquamarine;
    grid-area: section;
}

menu{
    background-color: blue;
    grid-area:menu;
}
aside{
    background-color: blueviolet;
    grid-area: aside;
}
content{
    background-color: cadetblue;
}
footer{
    background-color: black;
    color:white;
    grid-area:footer
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
