article>p{
    color: aquamarine;
}
article>p:first-child{
    color: red;
}
article p:last-child{
    color: blue;
}


article p:nth-child(7){
    color: brown;
}
article p:nth-child(5){
    font-size: 25px;
    color: green;
}